<html>
<head>
    <title>LIST</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jstree/_lib/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jstree/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jstree/_lib/jquery.cookie.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/aphaline.css" type="text/css" />  
    <script type="text/javascript" src="{{ STATIC_URL }}js/includes/jquery_form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/includes/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/includes/aphaline-utils.js"></script>
    <script type="text/javascript" data-main="{{ STATIC_URL }}js/aphaline/main.js" src="{{ STATIC_URL }}js/require.js">
    </script>
    <style>
        body {
            background: #ffe;
            padding-left: 10px;
            padding-right: 10px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        h2 {
            margin: 0;
            padding: 5px 0;
            font-weight: normal;
            font-size: 20px;
            border-bottom: 2px solid #eed;
        }
        .back {
            float: right;
            font-size: 12px;
            line-height: 12px;
            position: relative;
            top: -5px;
        }
    </style>
</head>
<body>
	<script type="text/javascript">
	$(function () {
		$("#list").jstree({ 
			"json_data" : {
				"ajax" : {
					"url" : "/api/structure/list/",
				}
			},
			"contextmenu": {
				items: {
					"rename" : {
						"label"				: "Переименовать",
						"action"			: function (obj) { this.rename(obj); },
						"_disabled"			: false,
						"_class"			: "class",
						"separator_before"	: false,
						"separator_after"	: false,
						"icon"				: false
					},
					"edit" : {
						"label"				: "Редактировать",
						"action"			: function (obj) { 
							var id = obj.attr("id").replace("node_",""); 
							var model = 'Section';
							var form = Aphaline.API.Legacy.form(model, id);
							Aphaline.Editor.openContent(form);
						},
						"_disabled"			: false,
						"separator_before"	: false,
						"separator_after"	: false,
						"icon"				: false
					},
					"create" : {
						"label"				: "Создать подраздел",
						"action"			: function (obj) { this.create(obj); },
						"_disabled"			: false,
						"separator_before"	: false,
						"separator_after"	: false,
						"icon"				: false
					},
					"remove" : {
						"label"				: "Удалить",
						"action"			: function (obj) { if(this.is_selected(obj)) { this.remove(); } else { this.remove(obj); } },
						"_disabled"			: false,
						"separator_before"	: false,
						"separator_after"	: false,
						"icon"				: false
					}
				}
			},
			"plugins" : [ 
	 			"themes","json_data","ui","crrm","cookies","dnd","types","contextmenu" 
			]
		})
		.bind("remove.jstree", function (e, data) {
			data.rslt.obj.each(function () {
				$.ajax({
					async : false,
					type: 'GET',
					url: "/api/structure/delete/" + data.rslt.obj.attr("id") + "/", 
					success : function () {
						data.inst.refresh();
					}
				});
			});
		})
		.bind("create.jstree", function (e, data) {
			$.post(
				"/api/structure/create/", 
				{ 
					"pid" : data.rslt.parent.attr("id").replace("node_",""),
					"caption" : data.rslt.name,
				}, 
				function (r) {
					data.inst.refresh();
				}
			);
		})
		.bind("rename.jstree", function (e, data) {
			$.post(
				"/api/structure/rename/", 
				{  
					"id" : data.rslt.obj.attr("id").replace("node_",""),
					"caption" : data.rslt.new_name
				}, 
				function (r) {
					data.inst.refresh();
				}
			);
		})
		.bind("move_node.jstree", function (e, data) {
			data.rslt.o.each(function (i) {
				if (data.rslt.cr === -1) {
					$.jstree.rollback(data.rlbk);
				}
				else {
					$.ajax({
						async : false,
						type: 'POST',
						url: "/api/structure/move/",
						data : { 
							"id" : $(this).attr("id").replace("node_",""), 
							"newpid" : data.rslt.cr === -1 ? 1 : data.rslt.np.attr("id").replace("node_",""), 
							"order": data.rslt.cp + 1
						},
						success : function (r) {
							data.inst.refresh();
						}
					});
				}	
			});
		});
	});
	
	/* Aphaline "structure" button activation */
	$(function () {
		setTimeout(function() {
	        var button = Aphaline.Toolbar.getPanel('structure').getButton('structure');
	        button.activate();
	        button.callback = function() { window.location.href = '/' }
	        Aphaline.Toolbar.getPanel('variants').disableAll();
		}, 200);
	});
	</script>
	
	<div>
		<h2>
		  Редактирование структуры сайта
		  <p class="back">&laquo; <a href="/">Вернуться на сайт</a></p>
		</h2>
	</div>
	
	<div id="list"></div>
	
</body>
</html>