<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/typography.css"/>
    <title>Новый сайт PIM</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo_wrapper">
                <div id="logo"></div>
            </div>
        </div>
        <div id="content">
            <h1>Добро пожаловать на новую версию сайта PIM66.ru!</h1>
            <br />
            <p>&raquo; <a href="/">Перейти к просмотру каталога</a></p>
            <p>&raquo; <a href="http://0026.s12345.ru/">Воспользоваться старой версией</a></p>
            <br /><hr />
            <p><small>Адрес, по которому вы перешли, не существует на новой версии сайта.</small></p>
        </div>
    </div>
</body>
</html>
