body {background-color:#465464;}
                   #menu ul, #menu ul ul {background:#634654;}
                   .container {background: #646456;border-left: 1px solid #546465;border-right: 1px solid #456464;}
                   #text_bg {background: transparent;}
                   .header_box_bg, #voteresults p {background: #546465;}
                   .header_box * {color: #456465 !important;}
                   #voteresults li {background: #464654;}
                   #voteresults .indicator {background-color: #654565;}
                   #specials a:hover {background: #546465;}
                   #news .date span {background: #456465;}
                   tr.odd td {background-color: #132132;}
                   tr.even td {background-color: #879879;}
                   #catalog th {background-color: #464654;}
                   #catalog tr.odd td {background-color: #313123;}
                   #catalog tr.even td {background-color: #789779;}
                   #footer {background: #313515;margin-top: 50px;color: #465465;}
                   #footer a {color: #545465;}
                   #footer a:hover {color: #351313;}
                   .container {color: #654655;}
                   #specials a {color: #654654;}
                   a {color: #456456;}
                   a:hover {color: #664546;}
                   b, strong {color: #879887;}
                   #menu a {color: #456654;}
                   #specials .price {color: #879879;}
                   #news .date span {color: #787898;}
                   #voteresults small {color: #878798;}
                   #specials li img {border: 0;}
                   #catalog_body {border-color: #788797;}
                   #specials a {/* border-color: #ddd; */}
                   #news .date {border-color: #465464;}
                   #text td {border-color: #454565;}
                   #text th {border-color: #465465;}
                