@charset "utf-8";
/* Horizontal menu CSS Document */

#menu ul {
	margin: 0;
	padding: 0.7em 1.5em 0.7em 2em;
	list-style-type: none;
}
#menu li {
	position: relative;
	float: left;
	margin: 0 1.85em 0 0; padding: 0;
}
#ie7 #menu li {
	margin-right: 1.5em;
	white-space: nowrap;
}
#menu li ul {
	position: absolute;
	top: 2em;
	left: 0;
	width: 180px;
	padding: 0px 10px 10px 10px;
	margin: 0;
	display: none;
	height: auto;
}
#ie6 #menu li ul, #ie7 #menu li ul {
	top: 2.2em;
}
#menu li li {
	position: relative;
	float: none;
	clear: both;
	margin: 5px 0 5px 0;
}
#menu ul ul ul {
	top: -1px;
	left: 191px;
}
#ie6 #menu ul ul ul, #ie7 #menu ul ul ul {
	top: 0;
	margin-top: -5px;
}
#menu li.nolink {
	text-decoration: none;
}
