@charset "utf-8";
/* CSS Document */

#specials ul {
	list-style-type: none;
	margin: 0 0 2em 0;
}
#specials li {
	margin: 0; padding: 0;
	float: left;
	/*width: 49%;*/
	height: 220px;
	overflow: hidden;
}
#specials .image {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	text-align: center;
	padding: 0 1em 0 0;
}
#specials li img {
	border-width: 1px;
	border-style: solid;
}
#specials a {
	display: block;
	height: 215px;
	margin: 0.5em;
	padding: 0.5em;
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: solid;
	cursor: pointer;
}
#specials span {
	display: block;
}
#specials .header {
	font-size: 1.2em;
}
#specials .shortdesc {
	clear: both;
	font-size: 0.9em;
}
#specials .price {
	text-align: right;
	font-size: 1.4em;
	margin-bottom: 0.3em;
}
#specials .price {
	font-weight: bold;
}

