<div class="footer">
    <div class="footer_padding">
        <div class="footer_relative dynamicWidth">
            <div class="siteFrame context_vis">
                <div class="siteFrame_25 siteFrame_margin_0">
                    <p class="h4">Покупателям</p>
                    <ul class="footer_menu">
                        <li><a href="#">Возможности сервиса</a></li>
                        <li><a href="#">Доставка и оплата товаров</a></li>
                        <li><a href="#">Гарантии</a></li>
                    </ul>
                </div>
                <div class="siteFrame_25 siteFrame_margin_25">
                    <p class="h4">Покупателям</p>
                    <ul class="footer_menu">
                        <li><a href="#">Возможности сервиса</a></li>
                        <li><a href="#">Доставка и оплата товаров</a></li>
                        <li><a href="#">Гарантии</a></li>
                    </ul>
                </div>
                <div class="siteFrame_25 siteFrame_margin_50">
                    <p class="h4">Покупателям</p>
                    <ul class="footer_menu">
                        <li><a href="#">Возможности сервиса</a></li>
                        <li><a href="#">Доставка и оплата товаров</a></li>
                        <li><a href="#">Гарантии</a></li>
                    </ul>
                </div>
                <div class="siteFrame_25 siteFrame_margin_75">
                    <p class="h4">Покупателям</p>
                    <ul class="footer_menu">
                        <li><a href="#">Возможности сервиса</a></li>
                        <li><a href="#">Доставка и оплата товаров</a></li>
                        <li><a href="#">Гарантии</a></li>
                    </ul>
                </div>
            </div>
            <div class="siteFrame siteFrame__bottom_0 context_vis">
                <div class="siteFrame_25 siteFrame_margin_0">
                    <p class="footer_copyright">© Мастермарио, 2011</p>
                </div>
                <div class="siteFrame_25 siteFrame_margin_25">
                    <a href="#" class="footer_name">mail@mastermario.ru</a>
                </div>
                <div class="siteFrame_25 siteFrame_margin_50">
                    <div class="footer_counter">
                        <a href="#">
                            <img src="{{ STATIC_URL }}front/common/images/examples/metrika.jpg" alt=""/>
                        </a>
                    </div>
                </div>
                <div class="siteFrame_25 siteFrame_margin_75">
                    <div class="footer_socials">
                        <a href="#">
                            <img src="{{ STATIC_URL }}front/common/images/examples/promo.jpg" alt=""/>
                        </a>
                        вдохновил дизайнеров ;-)
                    </div>
                </div>
            </div>
            <div class="footer_cornerLeft"></div>
            <div class="footer_cornerRight"></div>
        </div>
    </div>
</div>