/**
 * @package Brick66
 * @subpackage Window
 */

.window {
    padding: 8px 10px 10px;
    width: 280px;
    z-index: 10;
}

.colored_red .window { background: url('../Images/WindowRed.png'); }
.colored_yellow .window { background: url('../Images/WindowYellow.png'); }
.colored_green .window { background: url('../Images/WindowGreen.png'); }
.colored_blue .window { background: url('../Images/WindowBlue.png'); }
.colored_purple .window { background: url('../Images/WindowPurple.png'); }

.window_content {
    padding: 10px;
    background-color: #fff;
}

.window .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 9px;
    height: 9px;
    background: url('../Images/Close.png') -20px 0 no-repeat;
    cursor: pointer;
}

.window .close:hover { background-position:  -10px -10px; }
.colored_yellow .window .close { background-position: -10px -10px; }
.colored_yellow .window .close:hover { background-position: 0 -20px; }

.window .title {
    margin-bottom: 8px;
    line-height: 1em;
    font-weight: bold;
    color: #fff;
}

.colored_yellow .window .title {
    color: #000;
}

.window_label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.858em;
    font-weight: bold;
    color: #333;
}

.window_label ins {
    margin-left: 4px;
    text-decoration: none;
    color: #cc0000;
}

.window_input,
.window_textarea {
    display: block;
    margin-bottom: 19px;
    padding: 5px 10px;
    border: 1px solid #c0cad5;
}

.window_input input,
.window_textarea textarea {
    display: block;
    width: 100%;
    line-height: 17px;
    font-family: Arial;
    font-size: 0.858em;
    border: 0;
    color: #333;
}

.window_input { height: 17px; }
.window_input input { height: 17px; }

.window_input { height: 17px; }
.window_textarea textarea { height: 137px; }

.window_submit {
    margin-top: -9px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    font-size: 0.858em;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.window_submit:hover {
    background-image: url('../Images/Hover.png');
}

.colored_yellow .window_submit {
    color: #000;
}