/**
 * @package MarioCss
 * @subpackage Picture
 */

/** @section SimpleImage */

.simple_image {
    margin: 0 0 10px 0;
}

.simple_image table {
    width: 100%;
    table-layout: fixed;
}

.simple_image td {
    width: 100%;
    padding: 3px;
    border: 3px solid #f89110;
}

.simple_image img {
    display: none;
}

.simple_image table img {
    display: block;
    width: 100%;
}

/** @section ImageLeft */
.image_left img {
    float: left;
    display: block;
    margin: 0 17px 5px 0;
}

/** @section ImageBorder */
.link_image {
    margin-bottom: 15px;
}

.link_image a {
    display: block;
    border: 3px solid #f89110;
    cursor: url('../images/picture/zoom.png'), pointer;
}

.link_image a:hover {
    border: 3px solid #ef4426;
}

.link_image img {
    display: block;
}

/** @section JustImage */
.just_image {
    margin-bottom: 10px;
}

.just_image .img {
    position: relative;
}

.just_image table {
    width: 100%;
    table-layout: fixed;
}

.just_image td {
    width: 100%;
}

.just_image img {
    display: none;
}

.just_image table img {
    display: block;
    width: 100%;
}

.just_image .img p {
    position: absolute;
    margin: 0 0 0 8px !important;
    padding: 0 !important;
    line-height: 15px !important;
    font-size: 12px !important;
    left: 0;
}

.just_image .img p a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.just_image .img p a:hover {
    border-bottom: 0 !important;
}

.just_image .img p.top {
    top: 8px;
    color: #fff;
}

.just_image .img p.bottom {
    bottom: 10px;
    color: #fff;
    border: 0;
}

.just_image .txt p {
    margin: 0 0 8px 0 !important;
    padding: 5px 0 0 6px !important;
    font-size: 12px !important;
    color: #666666;
}

.just_image .txt ul li {
    padding: 0 0 5px 22px;
    font-size: 12px;
    background: url('../images/picture/Img_li.gif') 11px 6px no-repeat;
    color: #666666;
}