    <div id="footer" class="span-24 last">
        <div class="span-13">
            <div id="company">
<p>620000 г.&nbsp;Екатеринбург,&nbsp;ул.&nbsp;Уличная,&nbsp;100.</p><p>Телефоны: (343) 222-33-44, 222-33-65, 223-43-34.</p></div>       </div>

        <div class="span-10 last">
            <div id="wss">
    <p class="siteexpress"><a href="http://www.s12345.ru/">Создание сайтов в Екатеринбурге</a><br />
    Сайт создан в рамках проекта «Сайт-Экспресс» '2010</p>
</div>      </div>
        <p><a href="#" id="key" style="display: block; position: absolute; bottom: 10px; right: 10px; background: url(/images/aphaline/login.png) top left no-repeat; height: 16px; width: 16px;"></a></p>
<div id="login" style="display: none">
    <form action="/" method="post">

        <p><input type="password" name="password" id="password" value="" style="font-size: 1.4em;" /></p>
        <p style="text-align: center;">
            <input type="hidden" name="port" value="login" />
            <input type="submit" name="submit" value="Войти" style="font-size: 1.4em;" />
        </p>
    </form>
</div>  </div>
    
</div>

<!--[if IE]></div><![endif]-->
