<!--[if lt IE 7]><div id="ie6"><![endif]-->
<!--[if gte IE 7]><div id="ie7"><![endif]-->

<div class="container" id="template1">

    <div class="wheel">

    <div id="header" class="span-24 last">

        <div id="logo"><a href="/"></a></div>       <div class="header_box_bg"></div>
        <div class="header_box">
            <div id="navigation">
    <ul>
        <li><a id="writeletter" href="mailto:info@ekad.ru" title="Написать письмо"></a></li>
        <li><a id="tohome" href="/" title="На главную"></a></li>
    </ul>
</div>
<div class="clear"></div>           <div id="phone" class="clearfix">

                <small>(<span id="phone_code">343</span>)</small>
                <span id="phone_number">222-33-44</span>
</div>      </div>
    </div>
