
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="stylesheet" href="/static/css/bp/screen.css" type="text/css" media="screen, projection" />
<!--[if IE]><link rel="stylesheet" href="/static/css/bp/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link rel="stylesheet" href="/static/css/bp/print.css" type="text/css" media="print" />
<link rel="stylesheet" href="/static/css/global.css" type="text/css" />
<link rel="stylesheet" href="/static/css/objects/news.css" type="text/css" />
<link rel="stylesheet" href="/static/css/objects/specials.css" type="text/css" />
<link rel="stylesheet" href="/static/css/colors.css" type="text/css" />
<link rel="stylesheet" href="/static/css/template1.css" type="text/css" />
<link rel="stylesheet" href="/static/css/objects/menu_h.css" type="text/css" />
<link rel="stylesheet" href="/static/css/boxy.css" type="text/css" />
<link rel="stylesheet" href="/static/css/objects/qa.css" type="text/css" />
<link rel="stylesheet" href="/static/css/objects/catalogue-blocks.css" type="text/css" />
<!-- <link rel="stylesheet" href="/static/css/objects/catalogue-table.css" type="text/css" /> -->
<link rel="stylesheet" href="/static/css/objects/catalogue-position.css" type="text/css" />

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.json.js"></script>
<script type="text/javascript" src="/static/js/jquery.md5.js"></script>
<script type="text/javascript" src="/static/js/jquery.boxy.js"></script>
<script type="text/javascript" src="/static/js/global.js"></script>
<script type="text/javascript" src="/static/js/actions.js"></script>
<script type="text/javascript" src="/static/js/menu.js"></script>
<script type="text/javascript" src="/static/js/user.vote.js"></script>

<script type="text/javascript" src="/static/js/user.key.js"></script>

<title>{{ title }}</title>
</head>
<body>

{% include 's3/header.html' %}
{% include 's3/menu.html' %}

{% block site %}
{% endblock %}

{% include 's3/footer.html' %}

</body>
</html>

