<div class="left span-6 prepend-top">
    <div id="menu" class="menu_inner">
        <ul class="clearfix">

        {% for item in structure.1.nodes.values %}
            <li><a href="{{ item.path }}">{{ item.caption }}</a>
                {% if item.nodes %}
                    <ul>
                    {% for subitem in item.nodes.values %}
                        <li><a href="{{ subitem.path }}">{{ subitem.caption }}</a>
                            {% if subitem.nodes %}
                                <ul>
                                {% for subsubitem in subitem.nodes.values %}
                                    <li><a href="{{ subsubitem.path }}">{{ subsubitem.caption }}</a>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

        </ul>
        <div class="clear"></div>
    </div>
</div>
