{% extends "catalog/layout.html" %}

{% block catalog_content %}
    <div id="catalog_list">
        
        {% include "generic/crumbs.html" %}
        
		<table id="catalog_submenu" cellspacing="5">
            <tr>
    		{% for section in subsections %}
                {% if forloop.counter0|divisibleby:"5" %}
                </tr><tr>
                {% endif %}
    			<td><a href="{{ section.path }}">{{ section.caption }}</a></td>
    		{% endfor %}
            </tr>
		</table>
		
    	{% include "catalog/list_template.html" %}
        
    </div>
{% endblock %}