{% if user.is_staff and aphaline_edit_mode and catalog %}
{% if not current_section.has_children %}
<p>
	<a class="adder_link" href="all/" >Изменить порядок</a>
</p>
<p>
	<a class="adder_link" href="shuffle/" >Произвольно изменить порядок</a>
</p>
{% endif %}
<p><a href="#" 
    aph-adder="yes" 
    aph-model="Product"         
    aph-initial="name=Новая позиция, section={{ current_section.id }}, catalog={{ catalog.id }}"
    class="adder_link">
    Создать позицию
    </a>
</p>
{% endif %}

{% for position in catalog_positions %}
	<a  href="{{ position.section.path }}{{ position.slug }}"
		aph-block-type="gde" 
		aph-redirect-url="{{ position.section.path }}{{ position.slug }}"
		aph-model="Product"
		aph-id="{{ position.id }}" 
		class="catalog_list_position{% if not position.is_exist %} unexist{% endif %}">
		<div class="catalog_list_image" style="background: url({{ position.picture.url_130x130 }}) 50% 100% no-repeat">
            <button class="submitPopUp" >Быстрый просмотр</button>
			{% if position.is_special %}<p>Акция</p>{% endif %}
		</div>
		<div class="catalog_list_name" {% if not position.is_enabled %}style="text-decoration:line-through"{% endif %}>
			{{ position.name }}
		</div>
		<div class="catalog_list_price">
			{% if position.discount > 0 %}
				<span style="text-decoration:line-through;color:red;">{{ position.price }} P</span>
				{{ position.discounted }} Р
			{% else %}
				{{ position.price }} Р
			{% endif %}
			{% if position.is_free_delivery %}
				<div class="is_free_delivery">Бесплатная доставка</div>
			{% endif %}
		</div>
	</a>
{% endfor %}

<div style="clear: both"></div>

{% include "generic/pagination.html" %}