/**
 * @package Brick 66
 * @subpackage Header
 */

.header {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 44px;
    width: 100%;
    height: 90px;
}

.header__fixed {
    position: fixed;
}

.header_panel {
    height: 85px;
}

.header_content {
    position: relative;
    height: 85px;
}

.header_shadow {
    position: absolute;
    left: 0;
    top: 129px;
    width: 100%;
    height: 5px;
    background: url('../Images/Shadow.png') repeat-x;
}

.header_logo {
    position: relative;
    left: 0;
    top: 24px;
    width: 198px;
    height: 39px;
}

.header_logo a {
    border-bottom-width: 0;
}

.header_phone {
    position: absolute;
    right: 0;
    top: 26px;
    text-align: right;
}

.header_phone_text {
    display: block;
    margin-bottom: 2px;
    font-size: 2.143em;
    font-style: italic;
}

.header_phone_text small {
    margin-right: 4px;
    font-size: 0.667em;
}

.header_phone_call {
    padding-left: 20px;
    font-size: 0.858em;
    color: #000;
    background: url('../Images/Call.png') 0 4px no-repeat;
}

.mainMenu {
    position: absolute;
    left: 235px;
    top: 27px;
    height: 32px;
}

.mainMenu li {
    float: left;
    margin: 0 6px 0 0;
    padding: 0 12px;
    line-height: 30px;
    font-size: 1.143em;
    font-style: italic;
}

.mainMenu li.selected {
    padding: 0 4px;
    color: #fff;
}

.mainMenu li span {
    display: block;
    float: left;
    height: 32px;
    line-height: 30px;
}

.mainMenu li span.left {
    width: 8px;
    background: url('../Images/SelectedLeft.png') no-repeat;
}

.mainMenu li span.right {
    width: 8px;
    background: url('../Images/SelectedRight.png') no-repeat;
}

.mainMenu li span.center {
    padding: 0 4px 0 1px;
    background: url('../Images/SelectedRep.png') repeat-x;
}

.header_serviceMenu {
    position: absolute;
    right: 0;
    top: -33px;
}

.header_serviceMenu li {
    position: relative;
    float: left;
    margin-left: 35px;
    padding: 0 30px 0 7px;
    height: 22px;
    line-height: 20px;
    background-color: #fff;
}

.header_serviceMenu li .icon {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -22px;
    width: 22px;
    height: 22px;
}

.header_serviceMenu li.holder .icon {
    background-color: #000;
    background-image: url('../Images/Holder.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header_serviceMenu li.map .icon {
    background-image: url('../Images/Map.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}