/* ZERO */

ul, ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    border: 0;
}

form, input, p, dl, dt, dd {
    margin: 0;
    padding: 0;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
}

a:active, a:focus, img {
    outline: none;
}

/* MARGINS ///////////////////////////////////////////////////// */

.m-quarter {
    margin-bottom: 5px;
}
.m-half {
    margin-bottom: 10px;
}
.m-single {
    margin-bottom: 20px;
}
.m-double {
    margin-bottom: 40px;
}
.m-triple {
    margin-bottom: 60px;
}

/* GENERAL //////////////////////////////////////////////////////*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #36d3f8 url(../img/body_top.png) left top repeat-x;
}

body {
    position: relative;
    margin: 0 auto;
    padding: 0 21px 0 8px;
    min-height: 100%;
    _height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #f89110;
    color: #000;
}

#site, #footer .footer_container {
    position: relative;
    margin: 0 auto;
    min-width: 961px;
    max-width: 1571px;
    _width: expression((document.compatMode && document.compatMode == 'CSS1Compat')
		?
		(
			document.documentElement.clientWidth < 961
			?
			"961px"
			:
			(
				document.documentElement.clientWidth > 1571
				?
				"1571px"
				:
				"100%"
			)
		)
		:
		(
			document.body.clientWidth < 961
			?
			"961px"
			:
			(
				document.body.clientWidth > 1571
				?
				"1571px"
				:
				"100%"
			)
		)
	);
    _zoom: 1;
    background: #fff;
}

#content {
    margin: 0 3.7% 0 5.7%;
}

.clear {
    clear: both;
    width: 100%;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0 !important;
    font-size: 1px !important;
}

a {
    text-decoration: none;
    color: #006699;
    border-bottom: 1px solid #006699;
}

a:hover {
    color: #ef4426;
    border-bottom: 1px solid #ef4426;
}

.no_border {
    border: 0 !important;
}

/* MAINFRAME //////////////////////////////////////////////////////*/

#content {
    padding-left: 17px;
    border-left: 1px dashed #b7b7b7;
}

.mainframe {
    width: 100%;
}

.mainframe .mf_col {
    padding: 20px 3.9% 20px 3.9%;
    vertical-align: top;
}

.mainframe .mf_col_25 {
    width: 17.2%;
}

.mainframe .mf_col_33 {
    width: 29.6%;
}

.mainframe .mf_col_50 {
    width: 42.2%;
}

.mainframe .mf_col_66 {
    width: 59.1%;
}

.mainframe .mf_col_75 {
    width: 67.2%;
}

.mainframe .mf_col_100 {
    width: 92.2%;
}

.mainframe .mf_col_big_right {
    padding-right: 0;
    width: 21.1%;
}

.mainframe .mf_border {
    border-left: 1px dashed #b7b7b7;
}

.mainframe .mf_border_top {
    border-top: 1px dashed #b7b7b7;
}

.mainframe .mf_border_bottom {
    border-bottom: 1px dashed #b7b7b7;
}

.mainframe .mf_first {
    padding: 20px 3.9% 20px 0;
    border-left: 0 !important;
}

.inner_frame {
    margin-bottom: 20px;
    width: 100%;
}

table.border_bottom {
    border-bottom: 1px dashed #ccc;
}

.inner_frame td {
    padding: 0 8% 20px 0 !important;
    vertical-align: top;
}

.inner_frame td.if_col_33 {
    width: 25%;
}

.inner_frame td.if_col_50 {
    width: 42%;
}

h1, h2, h3, h4, span.h1, span.h2, span.h3, span.h4 {
    display: block;
    margin: 0 0 12px 0;
    padding-bottom: 3px;
    line-height: 1.1em;
    font-weight: normal;
    border-width: 0 0 3px 0;
    border-style: solid;
    zoom: 1;
}

h1, span.h1 {
    font-size: 30px;
    border-color: #ef4628;
}

h1 .price_list {
    display: block;
    float: right;
    margin-left: 20px;
    padding: 10px 0 2px 16px;
    line-height: 18px;
    font-size: 15px;
    background-position: left 14px;
    background-repeat: no-repeat;
}

h1 .price_list a {
    border-width: 0 0 1px 0 !important;
}

h1 .price_list a:hover {
    border-width: 0 0 1px 0 !important;
}

h2, span.h2 {
    font-size: 20px;
    border-color: #f89110;
}

h1 a, h2 a {
    border-width: 0 0 2px 0;
}

h1 a:hover, h2 a:hover {
    border-width: 0 0 2px 0;
}

h3, span.h3 {
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-color: #d3d3d3;
    border-width: 0 0 1px 0;
}

h4, span.h4 {
    padding-bottom: 2px;
    line-height: 17px;
    font-size: 12px;
    font-weight: bold;
    border-color: #d3d3d3;
    border-width: 0 0 1px 0;
}

.dashed {
    border-style: dashed;
}

.head_margin_min {
    margin: 0 0 5px 0 !important;
}

.header_blue {
    border-color: #076eef;
}

.header_black {
    border-color: #000;
}

.header_azure {
    border-color: #10b9d8;
}

.header_green {
    border-color: #33cc33;
}

.header_icon {
    padding-left: 28px;
    background-repeat: no-repeat;
}

.header_dashed {
    border-style: dashed;
}

h2.header_icon {
    background-position: left 3px;
}

h3.header_icon {
    background-position: left top;
}

h4.header_icon {
    background-position: left 2px;
}

h1 .part, h2 .part, h3 .part, h4 .part {
    display: block;
    float: right;
    padding: 0 0 2px 0;
    font-size: 15px;
}

h1 .part a, h2 .part a {
    border-width: 0 0 1px 0 !important;
}

#content p {
    padding: 4px 0 14px 0;
    line-height: 22px;
    font-size: 14px;
}

p.small_text {
    padding: 0 0 14px 0;
    line-height: 17px;
    font-size: 11px;
}

.simple_submenu {
    padding-bottom: 12px;
}

.simple_submenu li {
    float: left;
    padding: 7px 16px 9px 16px;
    white-space: nowrap;
    font-size: 15px;
    border-right: 1px dashed #b7b7b7;
}

.simple_submenu li.cur {
    color: #fff;
    background: #ef4628 url(../img/general/submenu_cur.gif) right bottom no-repeat;
    border: 0;
}

.simple_submenu li.last {
    border: 0;
}

.simple_submenu li small {
    margin-left: 4px;
    padding: 0 4px 0 3px;
    font-size: 11px;
    color: #fff;
    background: #ef4628;
}

.simple_submenu li.cur small {
    color: #ef4628;
    background: #fff;
}

.simple_submenu li em {
    margin-left: 3px;
    font-size: 11px;
    font-style: normal;
    color: #333;
}

.simple_submenu li.cur em {
    color: #fff;
}

.catalog_switcher_here {
    margin: 40px 0 0 0;
}

.catalog_switcher_here h1, .catalog_switcher_here h2, .catalog_switcher_here h3 {
    margin-top: 0 !important;
    margin-right: 280px !important;
}

.catalog_switcher_here ul {
    float: right;
    margin-left: 6px;
    height: 20px;
}

.catalog_switcher_here li {
    float: left;
    padding: 3px 8px 4px 9px;
    margin-left: 11px;
    height: 20px;
    font-size: 14px;
}

.catalog_switcher_here li.cur {
    padding: 2px 7px 3px 8px;
    border: 1px solid #f99c27;
}

.catalog_switcher_here li a {
    display: block;
    padding: 4px 0 2px 29px;
    background-position: left 3px;
    background-repeat: no-repeat;
    border-bottom: 0;
}

.catalog_switcher_here li.cur a {
    cursor: default;
}

.catalog_switcher_here li a span {
    color: #006699;
    border-bottom: 1px solid #006699;
}

.catalog_switcher_here li a:hover span {
    color: #ef4426;
    border-bottom: 1px solid #ef4426;
}

.catalog_switcher_here li.cur a span {
    color: #000;
    border: 0;
    cursor: default;
}

.catalog_switcher_here li.table a {
    background-image: url(../img/general/catalog_switcher_table.gif);
}

.catalog_switcher_here li.image a {
    background-image: url(../img/general/catalog_switcher_image.gif);
}

.simple_tag_list {
    margin: 10px 0 12px 0;
    line-height: 26px;
}

.simple_tag_list .tag {
    margin: 0 4px;
    padding: 0 4px 2px 4px;
    white-space: nowrap;
    zoom: 1;
}

.simple_tag_list .hover {
    background: #006699;
}

.simple_tag_list .cur {
    background: #fed91d;
    color: #000;
}

.simple_tag_list .hover a {
    border: 0;
    color: #fff;
}

.simple_tag_list .more {
    margin-left: 15px;
    padding: 2px 5px 5px 5px;
    white-space: nowrap;
    font-size: 12px;
    background: #f8f4b0;
}

.simple_tag_list .slide_button_show {
    display: none;
}

.simple_tag_list .more a {
    padding-left: 10px;
    color: #000;
    border-bottom: 1px dotted #000;
    background: url(../img/general/more.gif) 1px 7px no-repeat;
}

.simple_tag_list .more_tags {
    display: none;
}

.pager_links {
    margin-left: 10px;
    font-size: 14px;
    color: #666666;
}

.pager_links .prev {
    padding-left: 17px;
    background-position: left 7px;
    background-repeat: no-repeat;
}

.pager_links span.prev {
    background-image: url(../img/general/prev.gif);
}

.pager_links a.prev {
    background-image: url(../img/general/prev_active.gif);
}

.pager_links .next {
    padding-right: 17px;
    background-position: right 7px;
    background-repeat: no-repeat;
}

.pager_links span.next {
    background-image: url(../img/general/next.gif);
}

.pager_links a.next {
    background-image: url(../img/general/next_active.gif);
}

.pager_links a {
    border: 0;
}

.pager_links em {
    font-style: normal;
}

.pager_links a em {
    color: #006699;
    border-bottom: 1px solid #006699;
}

.pager_links a:hover em {
    color: #ef4426;
    border-bottom: 1px solid #ef4426;
}

.pager_links ins {
    margin: 0 10px;
    padding-left: 1px;
    text-decoration: none;
    background: url(../img/general/pager_def.gif) left 6px no-repeat;
}

.pager_list {
    margin: 0 0 12px 0;
    padding-top: 8px;
    height: 25px;
}

.pager_list li {
    float: left;
    margin-right: 5px;
    text-align: center;
    font-size: 14px;
}

.pager_list li.cur {
    background: #ef3324 url(../img/general/pager_li.gif) left top repeat-x;
}

.pager_list li.null {
    padding: 2px;
    background: #d5d4af;
}

.pager_list li.null span {
    float: left;
    display: block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    background: #fff;
    color: #333;
}

.pager_list li.cur strong {
    float: left;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    color: #fff;
    background: url(../img/general/pager_cur.gif) right top no-repeat;
}

.pager_list li a {
    float: left;
    display: block;
    padding: 2px;
    border: 0;
    background: #d5d4af;
}

.pager_list li a:hover {
    background: #ef3324 url(../img/general/pager_li.gif) left top repeat-x;
}

.pager_list li a span {
    float: left;
    display: block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    cursor: pointer;
    background: #fff;
    color: #333;
}

.footnote {
    margin-bottom: 20px;
    padding: 4px 0 2px 0;
    line-height: 21px;
    font-size: 13px;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #848484;
}

.fn_black {
    border-color: #000;
}

.fn_orange {
    border-color: #ef4426;
}

.footnote span {
    padding-right: 8px;
    background-image: url(../img/general/footnote.gif);
    background-position: right 7px;
    background-repeat: no-repeat;
}

.fn_link {
    font-style: italic;
}

.fn_link span {
    font-style: normal;
}

.simple_inside_links {
    margin: 9px 0 12px 0;
    padding: 4px;
    background: #f0eec7;
}

.simple_inside_links ul li {
    float: left;
    margin: 0 16px 2px 0;
    font-size: 13px;
}

.simple_inside_links ul li a {
    display: block;
    float: left;
    padding: 0 3px 3px 3px;
    text-decoration: none;
    border-bottom: 0;
}

.simple_inside_links ul li a span {
    white-space: nowrap;
    color: #000;
    border-bottom: 1px dotted #000;
}

.simple_inside_links ul li a:hover {
    background: #ef4426;
}

.simple_inside_links ul li a:hover span {
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.simple_outside_links {
    margin: 12px 0;
}

.simple_outside_links li {
    float: left;
    margin: 0 20px 6px -5px;
    padding: 1px 5px 3px 5px;
    width: 250px;
    font-size: 13px;
}

.simple_outside_links li a {
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.simple_outside_links li.cur {
    position: relative;
    padding: 0;
}

.simple_outside_links li.cur span {
    display: block;
    position: relative;
    float: left;
    padding: 1px 5px 3px 5px;
    color: #000;
}

.simple_outside_links li.cur ins {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    background: #ffd90c;
}

.simple_outside_links li.selected span {
    background: #ffd90c;
}

.simple_outside_links li.selected ins {
    display: none;
}

.simple_anchor_links {
    margin: 12px 0;
}

.simple_anchor_links li {
    float: left;
    margin: 0 20px 6px -5px;
    padding: 1px 5px 3px 5px;
    width: 250px;
    font-size: 13px;
}

.simple_anchor_links li a {
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: dashed;
}

#content h1 {
    margin: 0 0 15px 0;
}

#content h2 {
    margin: 40px 0 15px 0;
}

#content h2.first {
    margin-top: 0;
}

#content p, #content blockquote {
    margin: 0 0 15px 0;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
}

#content p.em {
    line-height: 21px;
    font-style: italic;
    font-size: 13px;
}

#content p.strong {
    line-height: 24px;
    font-weight: bold;
}

#content p.selecting {
    padding: 15px 18px 16px 18px;
    font-style: italic;
    background: #f9f4b0;
    color: #663300;
}

#content p.tip {
    padding: 15px 18px 16px 18px;
    font-size: 12px;
    background: #efefef;
    color: #000;
}

#content p.border_top {
    padding-top: 10px;
    border-top: 1px dashed #b7b7b7;
}

#content p.border_bottom {
    padding-bottom: 12px;
    border-bottom: 1px dashed #b7b7b7;
}

#content div.border_bottom, #content ul.border_bottom {
    padding-bottom: 20px;
    border-bottom: 1px dashed #b7b7b7;
}

#content p.border_full {
    padding: 10px 0 12px 0;
    border-top: 1px dashed #b7b7b7;
    border-bottom: 1px dashed #b7b7b7;
}

#content blockquote {
    padding: 0 0 0 15px;
    border-left: 3px solid #ef4426;
}

#content .capital {
    position: relative;
    padding-top: 17px;
}

#content .capital .v {
    margin-right: 3px;
}

#content .capital .r {
    display: block;
    float: left;
    margin: -14px 3px 0 0;
    padding: 0 7px;
    text-decoration: none;
    line-height: 38px;
    height: 36px;
    font-size: 30px;
    font-weight: bold;
    background: #fa7f22;
    color: #fff;
}

#content .strong .r {
    margin-top: -13px;
}

#content .text_gallery {
    padding: 15px 0 20px 0;
}

#content .text_gallery .big_pic {
    margin-right: 21px;
    padding: 3px;
    border: 3px solid #f89110;
    zoom: 1;
}

#content .text_gallery .big_pic table {
    width: 100%;
    table-layout: fixed;
}

#content .text_gallery .big_pic table td {
    padding: 0 !important;
    border: 0 !important;
}

#content .text_gallery .big_pic .overflow img {
    display: block;
    width: 100%;
}

#content .text_gallery .big_pic .overflow .virtual {
    position: absolute;
    left: 0;
    top: -10000px;
    width: 100%;
}

#content .text_gallery .big_pic .overflow .virtual img {
    width: 100%;
}

#content .text_gallery .pics {
    float: right;
    width: 18px;
}

#content .text_gallery .pics li {
    margin-bottom: 1px;
}

#content .text_gallery .pics li a {
    display: block;
    padding: 6px;
    width: 6px;
    height: 6px;
    font-size: 1px;
    border: 0;
}

#content .text_gallery .pics li a span {
    display: block;
    width: 6px;
    height: 6px;
    background: #848484;
}

#content .text_gallery .pics li a:hover span, #content .text_gallery .pics li.cur a span {
    background: #000;
}

#content .text_gallery .pics li.cur a {
    padding: 3px;
    border: 3px solid #f89110;
    cursor: default;
}

#content .text_gallery .pics li.cur a:hover {
    border: 3px solid #f89110 !important;
}

#content .text_gallery .pics img {
    display: none;
}

#content .text_gallery .panel {
    margin-right: 24px;
    padding-top: 4px;
    font-size: 11px;
}

#content .text_gallery .panel .i_like {
    display: block;
    float: right;
    padding-left: 13px;
    text-decoration: none;
    background-position: left 4px;
    background-repeat: no-repeat;
    color: #666666;
    border: 0;
}

#content .text_gallery .panel .i_like:hover {
    color: #000;
}

#content .text_gallery .panel .comments, #content .text_gallery .panel .add span {
    text-decoration: none;
    color: #408bb2;
    border-bottom: 1px dashed #408bb2;
}

#content .text_gallery .panel .comments:hover, #content .text_gallery .panel .add:hover span {
    color: #ef4426;
    border-bottom: 1px dashed #ef4426;
}

#content .text_gallery .panel .comments {
    margin-right: 15px;
}

#content .text_gallery .panel .add {
    padding-left: 13px;
    background: url(../img/general/edit.gif) left 4px no-repeat;
    border-bottom: 0;
}

#content .simple_image {
    margin: 0 0 10px 0;
}

#content .simple_image table {
    width: 100%;
    table-layout: fixed;
}

#content .simple_image td {
    width: 100%;
    padding: 3px;
    border: 3px solid #f89110;
}

#content .simple_image img {
    display: none;
}

#content .simple_image table img {
    display: block;
    width: 100%;
}

#content .alert_text {
    display: block;
    padding: 5px;
    margin-right: 6px;
    float: left;
    line-height: 12px;
    font-size: 11px;
    color: #fff;
    background: #ef4426;
}

#content .image_left img {
    float: left;
    display: block;
    margin: 0 17px 5px 0;
}

#content .gray {
    padding: 0 18px;
    font-size: 12px;
    color: #666666;
}

#content .file {
    padding-left: 15px;
    background-position: left 4px;
    background-repeat: no-repeat;
    border: 0 !important;
}

#content .file:hover {
    background-image: url(../img/general/file_hover.gif) !important;
    border: 0 !important;
}

#content .file span {
    border-bottom: 1px solid #006699;
}

#content .file:hover span {
    border-bottom: 1px solid #ef4426;
}

#content .file small {
    font-size: 1em;
    color: #666;
}

#content .link_page {
    margin-right: 2px;
    padding-right: 18px;
    background: url(../img/general/lp.gif) right 4px no-repeat;
    border: 0;
}

#content .link_page:hover {
    background-image: url(../img/general/lp_h.gif);
}

#content .link_page small {
    font-size: 1em;
    color: #006699;
    border-bottom: 1px solid #006699;
}

#content .link_page:hover small {
    color: #f24525;
    border-color: #f24525;
}

.download_files {
    margin-bottom: 14px;
    padding: 14px 0 5px 0;
    border-width: 1px 0;
    border-style: dashed;
    border-color: #b7b7b7;
}

.download_files dl {
    padding: 0 0 11px 38px;
    min-height: 36px;
    _height: 36px;
    background-position: left 6px;
    background-repeat: no-repeat;
}

.download_files dl dt {
    padding-bottom: 7px;
    line-height: 22px;
    font-size: 14px;
}

.download_files dl dd {
    font-size: 12px;
    color: #666;
}

.img_border, .img_noborder {
    margin-bottom: 15px;
}

.img_border a {
    display: block;
    border: 0;
    cursor: pointer;
}

.img_border img {
    display: block;
    border: 3px solid #f89110;
}

.img_border a:hover img {
    border: 3px solid #ef4426;
}

.img_noborder a {
    display: block;
    border: 0;
    cursor: pointer;
}

.img_noborder img {
    display: block;
}

.links_menu {
    margin: 20px 0;
    padding: 16px 18px 10px 18px;
    overflow: hidden;
    zoom: 1;
    font-size: 13px;
    background: #efefef;
}

.links_menu li {
    float: left;
    padding: 0 2% 9px 0;
    width: 30%;
}

.chars_table {
    margin-bottom: 20px;
    width: 100%;
}

.chars_table th {
    padding-right: 50px;
    text-align: left;
    font-weight: normal;
    background: url(../img/general/chars_td.gif) left 15px repeat-x;
}

.chars_table th span {
    padding-right: 3px;
    background: #fff;
}

.chars_table th, .chars_table td {
    padding-bottom: 5px;
    vertical-align: top;
    font-size: 13px;
    line-height: 21px;
}

.chars_table td {
    padding-left: 3px;
    width: 36%;
}

.icon_block {
    padding: 10px 0 15px 52px;
    min-height: 50px;
    _height: 50px;
    background-position: left top;
    background-repeat: no-repeat;
}

.icon_block dt {
    margin-bottom: 5px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
}

.icon_block dd {
    line-height: 21px;
    font-size: 13px;
}

.socials_buttons {
    padding: 16px 17px 4px 17px;
    background: #ffd90c;
}

.socials_buttons small {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.socials_buttons ul {
    overflow: hidden;
    zoom: 1;
}

.socials_buttons li {
    float: left;
    padding: 0 19px 12px 0;
}

.auto_remark {
    white-space: nowrap;
    border-width: 0 0 1px 0;
    border-style: dotted;
}

.auto_remark:hover {
    border-style: dotted !important;
}

.arp_icon {
    display: none;
    position: absolute;
    top: -11px;
    width: 14px;
    height: 14px;
    background: url(../img/general/arp_icon.gif) left top no-repeat;
}

.arp_cont {
    display: none;
    position: absolute;
    left: -1px;
    top: 27px;
    padding: 10px 15px 15px 15px;
    width: 265px;
    border: 3px solid #000;
    background: #fff;
}

.arp_bg {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 13px;
    height: 7px;
    background: url(../img/general/arp_bg.gif) left top no-repeat;
}

.arp_text {
    line-height: 18px;
    font-size: 12px;
}

.color_heighter table {
    width: 100%;
}

.color_heighter table td {
    text-align: center;
    vertical-align: middle;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
}

.color_heighter table td a {
    color: #000;
    border-width: 0 0 2px 0;
    border-color: #000;
}

.ch_black table td a {
    color: #fff;
    border-width: 0 0 2px 0;
    border-color: #fff;
}

.color_heighter table td a:hover {
    border-bottom: 0 !important;
}

.just_image {
    margin-bottom: 10px;
}

.just_image .img {
    position: relative;
}

#content .just_image table {
    width: 100%;
    table-layout: fixed;
}

#content .just_image td {
    width: 100%;
}

#content .just_image img {
    display: none;
}

#content .just_image table img {
    display: block;
    width: 100%;
}

.just_image .img p {
    position: absolute;
    margin: 0 0 0 8px !important;
    padding: 0 !important;
    line-height: 15px !important;
    font-size: 12px !important;
    left: 0;
}

.just_image .img p a {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.just_image .img p a:hover {
    border-bottom: 0 !important;
}

.just_image .img p.top {
    top: 8px;
    color: #fff;
}

.just_image .img p.bottom {
    bottom: 10px;
    color: #fff;
    border: 0;
}

.just_image .txt p {
    margin: 0 0 8px 0 !important;
    padding: 5px 0 0 6px !important;
    font-size: 12px !important;
    color: #666666;
}

.just_image .txt ul li {
    padding: 0 0 5px 22px;
    font-size: 12px;
    background: url(../img/general/img_li.gif) 11px 6px no-repeat;
    color: #666666;
}

ul.no_marker {
    margin-bottom: 20px;
    font-size: 15px;
}

ul.no_marker li {
    margin-bottom: 8px;
}

ul.simple_marker {
    margin-bottom: 20px;
    font-size: 15px;
}

ul.simple_marker li {
    margin-bottom: 8px;
    padding-left: 23px;
    background: url(../img/lists/simple.gif) left 8px no-repeat;
}

ul.orange_marker {
    margin-bottom: 20px;
    font-size: 15px;
}

ul.orange_marker li {
    margin-bottom: 8px;
    padding-left: 23px;
    background: url(../img/lists/orange.gif) 5px 6px no-repeat;
}

ul.icon_marker {
    margin-bottom: 20px;
    font-size: 15px;
}

ul.icon_marker li {
    margin-bottom: 8px;
    padding-left: 23px;
    background-position: left top;
    background-repeat: no-repeat;
}

ul.number_marker {
    margin-bottom: 20px;
    font-size: 15px;
}

ul.number_marker li {
    position: relative;
    margin-bottom: 8px;
    padding-left: 23px;
}

ul.number_marker li ins {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    text-align: right;
    text-decoration: none;
    font-size: 15px;
}

.catalog_items_list dl {
    margin-bottom: 30px;
    overflow: hidden;
    zoom: 1;
}

.catalog_items_list dl .photo {
    position: relative;
    float: left;
    width: 83px;
    height: 89px;
}

.catalog_items_list dl .photo img {
    display: block;
    border: 0 !important;
}

.catalog_items_list dl .photo a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 83px;
    height: 89px;
    border: 0 !important;
}

.catalog_items_list dl .photo a img {
    width: 83px;
    height: 89px;
    background: url(../img/lists/cil_img.png) left top no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "img/lists/cil_img.png", sizingMethod = "crop");
}

.catalog_items_list dl .photo a:hover img {
    background: url(../img/lists/cil_img_h.png) left top no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "img/lists/cil_img_h.png", sizingMethod = "crop");
}

.cil_vertical dl .photo {
    float: none;
    margin-bottom: 9px;
}

.catalog_items_list dl .promo, .catalog_items_list dl dt, .catalog_items_list dl .desc {
    margin-left: 95px;
}

.cil_vertical dl .promo, .cil_vertical dl dt, .cil_vertical dl .desc {
    margin-left: 0;
}

.catalog_items_list dl .promo {
    margin-bottom: 2px;
    line-height: 13px;
    font-size: 11px;
}

.catalog_items_list dl .promo span {
    display: block;
    padding: 0 3px 2px;
    color: #fff;
    background: #ef4426;
}

.catalog_items_list dl.is_line .promo span {
    display: inline;
}

.catalog_items_list dl dt {
    margin-bottom: 5px;
    line-height: 21px;
    font-size: 14px;
}

.catalog_items_list dl .desc {
    line-height: 16px;
    font-size: 11px;
}

.files_list dl {
    padding: 0 0 15px 18px;
    background-position: left 3px;
    background-repeat: no-repeat;
}

.files_list dl dt {
    padding-bottom: 2px;
    font-size: 15px;
}

.files_list dl dd {
    padding-top: 3px;
    line-height: 14px;
    font-size: 11px;
    color: #666666;
}

.is_comment {
    position: relative;
}

.is_comment .panel {
    display: none;
    position: absolute;
    right: -8px;
    top: 0;
    padding: 10px 0;
    white-space: nowrap;
    width: 0;
    height: 100%;
}

.is_comment .panel_top {
    position: absolute;
    left: 3px;
    top: 0;
}

.is_comment .panel_top .png {
    width: 159px;
    height: 10px;
    background: url(../img/comment/panel_top.png) left top no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "img/comment/panel_top.png", sizingMethod = "crop");
}

.is_comment .panel_bottom {
    position: absolute;
    left: 3px;
    bottom: 0;
}

.is_comment .panel_bottom .png {
    width: 159px;
    height: 10px;
    background: url(../img/comment/panel_bottom.png) left top no-repeat;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "img/comment/panel_bottom.png", sizingMethod = "crop");
}

.is_comment .panel_rep {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../img/comment/panel_rep.png) left top repeat-y;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "img/comment/panel_rep.png", sizingMethod = "scale");
}

.is_comment .panel_rep p {
    margin: 0 0 10px 10px !important;
    padding: 3px 0 0 13px !important;
    line-height: 1.225em !important;
    font-size: 11px !important;
}

.is_comment .panel_rep .view_comments {
    background: url(../img/comment/panel_view.gif) left 6px no-repeat;
}

.is_comment .panel_rep .add_comment {
    background: url(../img/comment/panel_add.gif) left 6px no-repeat;
}

.is_comment .panel_rep .view_comments a {
    border-width: 0 0 1px;
    border-style: dotted;
}

.is_comment .panel_rep .add_comment a {
    color: #ef4426;
    border-bottom: 1px dotted #ef4426;
}

.is_comment .panel_rep .add_comment a:hover {
    color: #069;
    border-bottom: 1px dotted #069;
}

.is_comment .panel_rep .like {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 0 !important;
}

.is_comment .panel_rep .like a {
    padding-left: 15px;
    color: #666;
    border: 0;
    background: url(../img/general/ilike.gif) left 3px no-repeat;
}

.is_comment .panel_rep .like a:hover {
    color: #000;
    border: 0;
}

.is_comment .panel_relative {
    position: relative;
    padding-left: 3px;
    height: 100%;
}

.is_comment .panel_relative .stripe {
    position: absolute;
    left: 0;
    top: -4px;
    padding: 4px 0;
    width: 3px;
    height: 100%;
    background: #fa7f22;
}

.tableColored {
    width: 100%;
    margin-top: 20px;
}

.tableColored th {
    background-color: #f9f9f9;
    border-color:  #bcbcbc;
    border-style:  solid;
    border-width:  1px 1px 0 0;
    color: #333333;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    padding: 8px;
    text-align: left;
    vertical-align: bottom;
}

.tableColored-th-firstRow {
    border-top:  0;
}

.tableColored th:last-child {
    border-right:  0;
}

.tableColored td {
    background-color: #fcface;
    border-color:  #fff;
    border-style:  solid;
    border-width:  1px 1px 0 0;
    font-size: 14px;
    padding:  12px 8px 15px;
    vertical-align: top;
}


.tableColored-td-firstRow {
    border-top: 1px solid #414141;
}

.tableColored-td-lastCol {
    border-right:  0;
}

.tableColored tr:hover td {
    background-color: #f9ce41;
}

.tableText {
    width: 100%;
}

.tableText-th {
    background-color: #f9f9f9;
    border-bottom:  1px solid #414141;
    border-right:  1px solid #bcbcbc;
    font-size: 11px;
    font-weight: bold;
    padding:  13px 9px 6px;
    text-align: left;
    vertical-align: top;
}

.tableText-th-lastCol {
    border-right: 0;
}

.tableText-td {
    border-bottom:  1px solid #bcbcbc;
    border-right:  1px solid #bcbcbc;
    font-size: 12px;
    line-height: 22px;
    padding:  15px 9px 10px;
}

.tableText-td-lastCol {
    border-right: 0;
}

.tableText-tr_hover td {
    background-color: #f9f9f9;
}

.tableSimple {
    width: 100%;
}

.tableSimple-th {
    border-bottom:  2px solid #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 18px 2px;
    text-align:  left;
    vertical-align: top;
}

.tableSimple-td {
    border-bottom:  1px dashed #b7b7b7;
    font-size: 14px;
    padding: 10px 18px 12px;
}

.tableSimple-tr-lastRow td {
    border-bottom: 0;
}

.tableSimple-td_even {
    background-color: #f9f9f9;
}